/* style.css
#################################################################################################### */
// $global-flexbox: true !global;

@import 'foundation_settings';
@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-everything();

@import 'mixins-defaults';
@import 'reset-type-defaults';
@import 'class-defaults';

/* Headers
#################################################################################################### */

.h1 {
	@extend h1;
}
.h2 {
	@extend h2;
}
.h3 {
	@extend h3;
}
.h4 {
	@extend h4;
}
.h5 {
	@extend h4;
}
.h6 {
	@extend h6;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {}

.h1, h1 {
	font-size:48px;
}
.h2, h2 {
	font-size:40px;
}
.h3, h3 {
	font-size:30px;
}
.h4, h4 {
	font-size:28px;
}
.h5, h5 {
	font-size:20px;
}
.h6, h6 {
	font-size:16px;
}

/* Buttons
#################################################################################################### */

button,
input[type="button"],
input[type="submit"] {
	@extend .button;
}
.button.round {
	@include border-radius(8px);
}
.button.thin {
	padding-top:7px;
	padding-bottom:7px;
}
.button.wide {
	padding-left:30px;
	padding-right:30px;
}

/* Forms
#################################################################################################### */
/* remove webkit css
select, input, textarea {
	-webkit-appearance: none;
	-moz-appearance:window;
}
select::-ms-expand {
    display: none;
}

::-webkit-input-placeholder {}
:-moz-placeholder {}
::-moz-placeholder {}
:-ms-input-placeholder {}
*/

/* Includes
#################################################################################################### */
@import 'layouts-theme-specific';
@import 'ids';
@import 'comments';
