*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
node_modules
.htaccess
.sass-cache

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate

# wp core (as of 3.4.1)
/index.php
/license.txt
/readme.html
/robots.txt
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-config.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php

/wp-admin
/wp-includes

/wp-content/index.php
/wp-content/uploads/
/wp-content/blogs.dir/
/wp-content/upgrade/*
/wp-content/backup-db/*
/wp-content/advanced-cache.php
/wp-content/wp-cache-config.php
/wp-content/cache/*
/wp-content/cache/supercache/*
/wp-content/object-cache.php
/wp-content/mysql.sql
/wp-content/mu-plugins/*
/wp-content/themes/*
/wp-content/plugins/*

!/wp-content/themes/ThemeWP

# Root specific
/logs

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
